*{
   font-family: Georgia, 'Times New Roman', Times, serif; 
   border:none;
   margin:0;
   padding:0;

}

header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 64px;
    border: 1px solid red;
    background-color: white;

}

#header--icon {
    margin-left:24px;
    height: 42px;
    
}

#header--title {
    font-size: 32px;
    
}

.brand {
    display: flex;
    gap: 2px;
}
ul {
    display: flex;
    gap: 16px;
    margin-right: 24px;
}

header li {
   
    list-style-type: none;
    font-weight: normal;
}

header li a {
    text-decoration: none;
    color: black;
    
}